
body {
  background-color: rgb(181, 181, 181); 
  margin: 0;

}
.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  justify-content: center;
  align-items: center;
  height: 50vh; /* Esto centra verticalmente el contenido */
  text-align: center; /* Esto centra el texto horizontalmente */
}

.seleccion-y-detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#seleccionProducto {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px; /* Agregamos un margen inferior para separar los elementos */
}

.contenedor-botones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  max-width: 1024px;
  margin: auto;

}
.contenedor-central{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  max-width: 1024px;
  margin: auto;
  

}
.perfil {
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 60%; 
  text-align: left;
  background-color: white;
}
.contenedor-estimazon{
  margin-top: 200px;
}

.titulo {
  display: inline-block;
  background-color: rgb(141, 112, 112); 
  color: black; 
  text-align: center; 
  padding: 20px; 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; 
  box-sizing: border-box;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.subtitulo {
  text-align: center; 
  margin-top: 120px; 
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

}
.derecha {
  text-align: right; 
  margin-right: 20px;
  margin-top: 120px; 
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

}
.boton {
  background-color: rgb(
    141,
    112,
    112
  ); 
  color: black;
  border: white;
  padding: 10px 20px; 
  margin-left: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s;
}

.botones {
  position: absolute; 
  right: 20px;
  top: 50%; 
  transform: translateY(
    -50%
  ); 
}

/******************************** 
SECCION DE BOTONES DEL CATALOGO 
*********************************/
.botonAlimentos {
  position: relative;
  overflow: hidden;
  width: 210px;
  height: 210px;
  font-family: 'Arial', sans-serif;
  background-color: #E2D9CB;
  display: inline-block;
}

.botonAlimentos .imagen-fondo {
  background: url('../comprador/imagenesCatalogo/urban-20230508082604533519.jpg') center/cover no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  
}

.botonAlimentos:hover .imagen-fondo {
  opacity: 0.3;
}

.botonAlimentos .contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}
.botonArte {
  position: relative;
  overflow: hidden;
  width: 210px;
  height: 210px;
  background-color: #E2D9CB;
  font-family: 'Arial', sans-serif;
  display: inline-block;
}

.botonArte .imagen-fondo {
  background: url('../comprador/imagenesCatalogo/3339074.png') center/cover no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

.botonArte:hover .imagen-fondo {
  opacity: 0.3;
}

.botonArte .contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}
.botonHogar {
  position: relative;
  overflow: hidden;
  width: 210px;
  height: 210px;
  font-family: 'Arial', sans-serif;
  background-color: #E2D9CB;
  display: inline-block;
}

.botonHogar .imagen-fondo {
  background: url('../comprador/imagenesCatalogo/articulos_hogar.png') center/cover no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  
}

.botonHogar:hover .imagen-fondo {
  opacity: 0.3;
}

.botonHogar .contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}
.botonHogar {
  position: relative;
  overflow: hidden;
  width: 210px;
  height: 210px;
  font-family: 'Arial', sans-serif;
  background-color: #E2D9CB;
  display: inline-block;
}

.botonElectronica .imagen-fondo {
  background: url('../comprador/imagenesCatalogo/electronica.png') center/cover no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  
}

.botonElectronica:hover .imagen-fondo {
  opacity: 0.3;
}

.botonElectronica .contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}
.botonElectronica {
  position: relative;
  overflow: hidden;
  width: 210px;
  height: 210px;
  font-family: 'Arial', sans-serif;
  background-color: #E2D9CB;
  display: inline-block;
}

.botonInstrumento .imagen-fondo {
  background: url('../comprador/imagenesCatalogo/instrumentos.png') center/cover no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  
}

.botonInstrumento:hover .imagen-fondo {
  opacity: 0.3;
}
.botonInstrumento .contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}
.botonInstrumento {
  position: relative;
  overflow: hidden;
  width: 210px;
  height: 210px;
  font-family: 'Arial', sans-serif;
  background-color: #E2D9CB;
  display: inline-block;
}

.botonJuguete .imagen-fondo {
  background: url('../comprador/imagenesCatalogo/Juguete.png') center/cover no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  
}

.botonJuguete:hover .imagen-fondo {
  opacity: 0.3;
}
.botonJuguete .contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}
.botonJuguete {
  position: relative;
  overflow: hidden;
  width: 210px;
  height: 210px;
  font-family: 'Arial', sans-serif;
  background-color: #E2D9CB;
  display: inline-block;
}

.botonLibros .imagen-fondo {
  background: url('../comprador/imagenesCatalogo/Libros.png') center/cover no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  
}

.botonLibros:hover .imagen-fondo {
  opacity: 0.3;
}
.botonLibros .contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}
.botonLibros {
  position: relative;
  overflow: hidden;
  width: 210px;
  height: 210px;
  font-family: 'Arial', sans-serif;
  background-color: #E2D9CB;
  display: inline-block;
}
.botonOficina .imagen-fondo {
  background: url('../comprador/imagenesCatalogo/papeleria.png') center/cover no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  
}

.botonOficina:hover .imagen-fondo {
  opacity: 0.3;
}
.botonOficina .contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}
.botonOficina {
  position: relative;
  overflow: hidden;
  width: 210px;
  height: 210px;
  font-family: 'Arial', sans-serif;
  background-color: #E2D9CB;
  display: inline-block;
}

.botonTodo .imagen-fondo {
  background: url('../comprador/imagenesCatalogo/todo.png') center/cover no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  
}

.botonTodo:hover .imagen-fondo {
  opacity: 0.3;
}
.botonTodo .contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}
.botonTodo {
  position: relative;
  overflow: hidden;
  width: 210px;
  height: 210px;
  font-family: 'Arial', sans-serif;
  background-color: #E2D9CB;
  display: inline-block;
}


.boton-volver {
  background-color: grey;
  color: black;
  border: white;
  padding: 10px 20px; 
  cursor: pointer; 
  transition: background-color 0.3s;
}
.boton-volver :hover {
  background-color: rgb(80, 80, 80);
}
.contenedor-central .boton {
  background-color: grey;
  color: black;
  border: none;
  padding: 20px 40px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px; 
  height: 200px; 
  font-size: 16px; 
}
.contenedor-botones .boton:hover {
  background-color: rgb(80, 80, 80);
}
.contenedor-central .boton:hover {
  background-color: rgb(80, 80, 80);
}
.boton:hover {
  background-color: rgb(161, 132, 132);
}

.icono-user {
  vertical-align: middle; 
  margin-right: 5px;
  width: 20px; 
  height: 20px; 
}
.img-userAnon {
  vertical-align: middle; 
  margin-right: 5px;
  width: 100px; 
  height: 100px; 
}
.icono-carrito {
  vertical-align: middle; 
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
#listaProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.producto {
  flex: 0 1 calc(33% - 10px); 
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 10px;
    text-align: center;
}

/* Estilo para tamaños de pantalla más pequeños */
@media (max-width: 600px) {
    .producto {
        flex: 0 1 calc(50% - 10px); 
    }
}

/* Estilos del catálogo */

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color:rgb(141, 112, 112);
}

.cesta {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: left;
  margin-left: 200px;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  
}

.resumen {
  position: fixed;
  top: 10%;
  right: 10%;
  display: flex;
  flex-direction: column; 
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  font-size: 20px; /* Tamaño del texto */
}
.resumen select {
  margin-bottom: 10px; 
  width: 250px;
}

.boton-perfil {
  background-color: grey;
  color: black;
  border: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
  height: 200px;
  font-size: 24px;
  display: flex; /* Agrega esta línea */
  flex-direction: column; /* Si el contenido es texto, este estilo funciona mejor en columna */
  justify-content: center; /* Agrega esta línea */
  text-align: center; /* Agrega esta línea para centrar horizontalmente el texto */
}

.boton-perfil:hover {
  background-color: rgb(80, 80, 80);
}

